header {
    border: solid;
    padding: 15px;
}

aside {
    width: 25%;
    border: solid;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    margin-left: 50px;
}

img {
    margin-left: 80px;
}

.main  {
    display: inline-block;    
    border: solid;
    vertical-align: top;
    width: 60%;
    margin: 10px;
    padding-left: 10px;
} 