<header>
    <h1>3D designer</h1>
    <p>I am a graduate student from Robert Gordon University in Scotland. During my studies, I perfected myself
        in the field of 3D and illustration. I had to carry out a wide variety of projects for my different modules.
        Those ranged from the creation and animation of a 3D character to the creation of an escape room
        through creating a 3D video game. Thanks to my great creativity I can use all the skills acquired during my
        studies to bring a unique vision.</p>
</header>

<aside class="contact">
    <img src="/assets/pp.PNG">

    <h2>
        Contact
    </h2>
    <p>Axel Offret</p>
    <p>axel.offret@gmail.com</p>
    <p>+33 6 51 63 50 08</p>
    <p>13 rue des tilleuls 31785 Castelginest</p>
    <p>Driving licence: Category B</p>

    <h2>
        Logiciel skill
    </h2>
    <p>Photoshop</p>
    <p>Maya</p>
    <p>Blender</p>
    <p>3Ds Max</p>

    <h2>
        Languages
    </h2>
    <p>French</p>
    <p>English</p>
    <p>perfect Turkish</p>

    <h2>
        Hobbies
    </h2>
    <p>slap butt</p>
    <p>swimming</p>
</aside>

<div class="main">
<div class="experience">
    <h2>Experience</h2>
    <h3>Polyverse life</h3>
    <p>Août 2022 - Août 2023</p>
    <p>Pleins de trucs</p>
    
    <h3>logo Occitanie</h3>
    <p>Août 2022 - Août 2023</p>
    <p>Pleins de trucs</p>

    <h3>RGU internship</h3>
    <p>Août 2022 - Août 2023</p>
    <p>Pleins de trucs</p>
</div>

<div class="education">
    <h2>Education</h2>
    <h3>RGU Aberdeen bachelor degree</h3>
    <p>september 2019 - June 2021</p>
    <p>Pleins de trucs</p>
    
    <h3>DUT informatique de Blagnac</h3>
    <p>Septembre 2017 - june 2019</p>
    <p>Pleins de trucs</p>
</div>
</div>