.main {
    display: flex;
    justify-content: flex-start;
}

.table {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    width: 60%;
}

app-model {
    width: 30%;
}

app-canva {
    margin: 10px;
}